.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
}

.track__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.track__artist {
    font-size: 20px;
    margin-bottom: 10px;
}

.track__length {
    font-size: 16px;
    color: #888;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title,
.player-title {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.cover {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.cover-image {
    max-width: 150px;
    max-height: 150px;
}

.track-info {
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.track,
.author,
.length {
    margin-bottom: 10px;
}

.player {
    display: block;
    width: 50%;
    margin: 20px auto;
}

.control-button {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* Remove border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Some padding */
    text-align: center;
    /* Centered text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 12px;
    /* Rounded corners */
    transition-duration: 0.4s;
    /* Transition effect */
}

.control-button:hover {
    background-color: white;
    /* White background */
    color: black;
    /* Black text */
}

#canvas {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    height: 40%;
    max-width: 500px;
}